/* CSS declarations go here */
.result-table {
    display:table;
    border-collapse:collapse;
}
         
.result-row {
    display:table-row;
}
         
.result-cell {
    display:table-cell;
}
         
#cardcollection {
	float:left;
	background:#cc9;
}

#deck {
	float:right;
	background:#99c;
}